* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif; 
    background: linear-gradient(to bottom, #3a6186, #89253e); 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
}


.weather-app {
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 15px;
    padding: 30px;
    width: 300px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #ff4b2b;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ff416c; 
}

#weather-info {
    margin-top: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin: 5px 0;
}